{% extends "base.html" %}

{% block content %}
<h1>Sign Up Page</h1>
<form method="POST">
    <label for="username">Creat a Username:</label>
    <input type="text" name="username" placeholder="Username..." required><br>
    <label for="password">Create a Password:</label>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Sign Up">
</form>
{% if error %}
    <p>{{ error }}</p>
{% endif %}
<h4>Already have an account? <a href="/login">Login Here</a></h4>
<a href="/"><button>Back to Home</button></a>
{% endblock %}